
table {
    width:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.col1 {
    width: 20%;
    background-color: #f0f8ff;
    padding-left: 10px;
}

.col2 {
    width: 60%;
    padding: 10px;

}

.controls {
    text-align: center;
    padding: 20px;

}